# I used Supabase for this project
# Note: If you use your preferred database make sure you revisit the codebase again and make appropriate modifications
DB_HOST=<host> # retrieve from your connection link
DB_PORT=<port> # retrieve from your connection link
DB_NAME=<name> # retrieve from your connection link often postgres by default
DB_USER=<user> # retrieve from your connection link
DB_PASSWORD=<password> # retrieve from your connection link or where you specified on Supabase